<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="favicon.png">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <h3><%= content %></h3>
</body>
</html>