@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700&amp");
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&amp");*/

:root {
    /* Dark mode */
    /*--chat-color-pallet-0: rgb(0 0 0);*/ /* container background */
    /*--chat-color-pallet-1: rgb(25 25 25);*/ /* main container color - nav */
    /*--chat-color-pallet-2: rgb(55 55 55);*/ /* container_1 color */
    /*--chat-color-pallet-3: rgb(0 93 146);*/ /* container_2 color */
    /*--chat-color-pallet-4: rgb(222 222 222);*/ /* font color container_0 */
    /*--chat-color-pallet-5: rgb(222 222 222);*/ /* font color container_1 */
    /*--chat-color-pallet-6: rgb(222 222 222);*/ /* font color container_2 */
    /*--chat-color-pallet-7: rgb(0 170 242);*/ /* active color - hover color */
    /*--chat-color-pallet-8: rgb(0 0 0);*/ /* font color - when background color is active */
    /*--chat-color-pallet-9: rgb(242 65 65);*/ /* font in-valid hover color */
    /*--chat-color-pallet-10: rgb(222 222 222);*/ /* font in-valid hover text color */
    /* Light mode */
    --chat-color-pallet-0: rgb(220 230 246); /* container background */
    --chat-color-pallet-1: rgb(200 200 200); /* main container color - nav */
    --chat-color-pallet-2: rgb(55 55 55); /* container_1 color */
    --chat-color-pallet-3: linear-gradient(130deg, #2870EA 20%, #1B4AEF 77.5%),linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); /* container_2 color */
    --chat-color-pallet-4: rgb(0 0 0); /* font color container_0 */
    --chat-color-pallet-5: rgb(222 222 222); /* font color container_1 */
    --chat-color-pallet-6: rgb(222 222 222); /* font color container_2 */
    --chat-color-pallet-7: rgb(0 170 242); /* active color - hover color */
    --chat-color-pallet-8: rgb(0 0 0); /* font color - when background color is active */
    --chat-color-pallet-9: rgb(242 65 65); /* font in-valid hover color */
    --chat-color-pallet-10: rgb(222 222 222); /* font in-valid hover text color */


    --body-background-color: var(--chat-color-pallet-0);
    --font-color: var(--chat-color-pallet-7);
    --font-family: 'Lato', sans-serif;
    --nav-font-color: var(--chat-color-pallet-4);
    --nav-background-color: var(--chat-color-pallet-1);
    --nav-font-size: 1rem;
    --nav-font-weight: 700;
    --chat-box-background-color: rgb(0, 0, 0, 0.00);
    --chat-friend-message-color: var(--chat-color-pallet-2);
    --chat-friend-message-font-color: var(--chat-color-pallet-5);
    --chat-self-message-color: var(--chat-color-pallet-3);
    --chat-self-message-font-color: var(--chat-color-pallet-6);
    --chat-message-username-font-size: 0.85rem;
    --chat-message-username-font-weight: 700;
    --chat-message-font-size: 0.85rem;
    --chat-message-font-weight: 600;
    --chat-message-time-font-size: 0.75rem;
    --chat-message-time-font-weight: 400;
    --input-container-font-color: var(--chat-color-pallet-10);
    --input-container-font-size: 0.85rem;
    --input-container-font-weight: 600;
    --input-container-background-color: var(--chat-color-pallet-1);
    --input-message-font-color: var(--chat-color-pallet-4);
    --input-message-background-color: var(--chat-color-pallet-2);
    /* --input-message-hover-font-color: var(--chat-color-pallet-7); */
    /* --input-message-hover-background-color: var(--chat-color-pallet-7); */
    --input-send-font-color: var(--chat-color-pallet-4);
    --input-send-background-color: var(--chat-color-pallet-2);
    --input-send-hover-font-color: var(--chat-color-pallet-8);
    --input-send-hover-background-color: var(--chat-color-pallet-7);
    --scrollbar-track-color: var(--body-background-color);
    --scrollbar-thumb-color: var(--chat-self-message-color);
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-background-color);
    color: var(--font-color);
    font-family: var(--font-family);
}

.copy-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

    .copy-button:hover {
        background-color: #2c974b;
        border-color: #1b1f2326;
        transition-duration: 0.1s;
    }

#nav {
    background-color: var(--nav-background-color);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.75rem;
}

    #nav > #logo {
        color: var(--nav-font-color);
        font-weight: 900;
    }

    #nav > #nav-content {
        color: var(--nav-font-color);
        font-size: var(--nav-font-size);
        font-weight: var(--nav-font-weight);
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }

        #nav > #nav-content > a {
            color: var(--nav-font-color);
            font-size: var(--nav-font-size);
            font-weight: var(--nav-font-weight);
            padding: 5px 10px;
            border-radius: 5px;
            padding: 0px 5px 3px 5px;
            text-decoration: none;
        }

            #nav > #nav-content > a:is(:hover, :focus) {
                background-color: rgb(255, 255, 255, 0.15);
                transform: scale(1.1);
            }

        #nav > #nav-content > #chat-heading {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

            #nav > #nav-content > #chat-heading > username {
                padding: 0px 5px 3px 5px;
                text-decoration: none;
            }

            #nav > #nav-content > #chat-heading > a {
                padding: 5px 10px;
                border-radius: 5px;
                padding: 0px 5px 3px 5px;
                text-decoration: none;
            }

                #nav > #nav-content > #chat-heading > a:is(:hover, :focus) {
                    background-color: rgb(255, 255, 255, 0.15);
                    transform: scale(1.1);
                }


#main {
    margin-top: 50px;
    height: calc(100vh - 50px); /*NAV*/
    width: 100vw;
    /* position: fixed; */
    /* background-color: rgb(175, 150, 227); */
}

#content {
    /*    padding: 10px;*/
}

#chat-content {
    height: 100%;
}


#chat-box {
    background-color: var(--chat-box-background-color);
    position: fixed;
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
}


#chat-log {
    flex-grow: 1;
    height: 95%;
    width: auto;
    margin-left: 10px; /*scrollbar*/
    overflow-x: hidden;
    overflow-y: scroll;
}


    #chat-log::-webkit-scrollbar {
        width: 10px;
    }

    #chat-log::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
    }

    #chat-log::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
    }

.chat {
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

    .chat.header {
        justify-content: center;
        flex-flow: row wrap;
    }

    .chat.friend {
        flex-flow: row wrap;
    }

    .chat.self {
        flex-flow: row-reverse wrap;
    }

    .chat.friend .message {
        background-color: var(--chat-friend-message-color);
        color: var(--chat-friend-message-font-color);
    }

    .chat.self .message {
        background-color: var(--chat-self-message-color);
        color: var(--chat-self-message-font-color);
    }

.message {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 5px;
    list-style: none;
    text-decoration: none;
    cursor: text;
}

    .message .username {
        padding: 5px 10px 0px 10px;
        font-size: var(--chat-message-username-font-size);
        font-weight: var(--chat-message-username-font-weight);
    }

    .message .textcont {
        font-size: var(--chat-message-font-size);
        font-weight: var(--chat-message-font-weight);
        display: inline-block;
        padding: 5px 10px 5px 10px;
        min-width: 100px;
        white-space: pre-wrap;
    }

        .message .textcont span {
            font-size: var(--chat-message-font-size);
            font-weight: var(--chat-message-font-weight);
            font-weight: var(--chat-message-font-weight);
            display: inline-block;
            vertical-align: top;
        }


    .message .time {
        font-size: var(--chat-message-time-font-size);
        font-weight: var(--chat-message-time-font-weight);
        display: flex;
        justify-content: flex-end;
        padding-right: 3px;
    }

#input-container {
    background-color: var(--input-container-background-color);
    flex-grow: 0;
    width: auto;
    display: flex;
    min-height: 50px;
    max-height: 150px;
    gap: 0.5rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 8px;
}

    #input-container > #input-message-outer {
        background-color: var(--input-message-background-color);
        width: 60%;
        height: calc(100% - 12px);
        display: flex;
        align-items: center;
        padding: 6px;
        outline: none;
        border: none;
        border-radius: 10px;
        cursor: text;
    }

        #input-container > #input-message-outer > #input-message {
            color: var(--input-message-font-color);
            font-size: var(--input-container-font-size);
            font-weight: var(--input-container-font-weight);
            background-color: transparent;
            width: 100%;
            resize: none;
            display: flex;
            outline: none;
            border: none;
            box-sizing: border-box;
            overflow-y: auto;
            height: 1.2rem;
            max-height: 100%;
        }

            #input-container > #input-message-outer > #input-message::placeholder {
                color: var(--input-message-font-color);
            }

            #input-container > #input-message-outer > #input-message::-webkit-scrollbar {
                width: 5px;
                position: relative;
                left: 3px;
            }

            #input-container > #input-message-outer > #input-message::-webkit-scrollbar-track {
                background-color: var(--scrollbar-track-color);
            }

            #input-container > #input-message-outer > #input-message::-webkit-scrollbar-thumb {
                background-color: var(--scrollbar-thumb-color);
            }

    #input-container > #send-message {
        font-size: var(--input-container-font-size);
        font-weight: var(--input-container-font-weight);
        color: var(--input-send-font-color);
        background-color: var(--input-send-background-color);
        height: 3rem;
        width: 6rem;
        border: none;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
    }

        #input-container > #send-message:is(:hover, :active) {
            color: var(--input-send-hover-font-color);
            background-color: var(--input-send-hover-background-color);
        }
