@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700&amp");*/

@media only screen and (max-width: 500px) {
    .form {
        transform: scale(0.85);
    }
}

@media only screen and (max-width: 400px) {
    .form {
        transform: scale(0.8);
    }

        .form::before {
            transform: scaleX(0.95) translateX(-12px);
        }
}

:root {
    --color-pallet-1: rgb(0 0 0); /* container background color */
    --color-pallet-2: rgb(25 25 25 / 0.85); /* container color */
    --color-pallet-3: rgb(0 242 255); /* font active color */
    --color-pallet-4: rgb(185 185 185); /* font in-active color */
    --color-pallet-5: rgb(0 0 0); /* font color - when background color is active */
    --color-pallet-6: rgb(255 65 65); /* font in-valid hover color */
    --color-pallet-7: rgb(255 255 255); /* font in-valid hover text color */
    --radar-color-1: rgba(0 242 255 / 0.20); /* radar inner lines */
    --radar-color-2: rgb(0 242 255 / 0.50); /* radar inner radiend color */

    --z-index-form-container: 0; /* form contaiver z-index */
    --z-index-form: calc(var(--z-index-form-container) + 2);
    --z-index-form-content: var(--z-index-form);
    --z-index-form-input: calc(var(--z-index-form) + 2);
    --z-index-form-input-hover: var(--z-index-form);
    --z-index-form-input-eye-btn: var(--z-index-form-input);

    --body-background-color: rgb(0 0 0);
    --font-color: rgb(0 0 0);
    --font-family: 'Poppins', sans-serif;
    --form-height: 420px;
    --form-width: 380px;
    --form-input-width: 100%;
    --form-input-margin-top: 35px;
    --form-container-background-color: var(--color-pallet-1); /* form background color */
    --form-bachground-color: var(--color-pallet-2); /* form color */
    --form-color: var(--color-pallet-3); /* text, elements color */
    --form-invalid-hover-text-color: var(--color-pallet-7); /* text, elements color */
    --form-invalid-hover-color: var(--color-pallet-6); /* text, elements color */
    --form-font-color-1: var(--color-pallet-3); /* font active color */
    --form-font-color-2: var(--color-pallet-4); /* font in-active color */
    --form-font-color-3: var(--color-pallet-5); /* font color - when background color is active */

    --theme-background: 0 0 0;
    --theme-light: 0 0 0;
    --theme-medium: 0 0 0;
    --theme-dark: 0 0 0;
    --nav-color: rgb(255, 255, 255, 0.25);
    --nav-font-size: 1rem;
    --nav-font-weight: 700;
    --chat-box-color: rgb(0, 0, 0, 0.00);
    --chat-message-username-font-size: 0.85rem;
    --chat-message-username-font-weight: 700;
    --chat-message-font-size: 0.85rem;
    --chat-message-font-weight: 600;
    --chat-message-time-font-size: 0.75rem;
    --chat-message-time-font-weight: 400;
    --chat-friend-message-color: rgb(255, 255, 255, 0.25);
    --chat-friend-message-font-color: var(--font-color);
    --chat-self-message-color: rgb(255, 255, 255, 0.50);
    --chat-self-message-font-color: var(--font-color);
    --input-container-font-size: 0.85rem;
    --input-container-font-weight: 600;
    --input-container-color: rgb(255, 255, 255, 0.25);
    --input-message-color: rgb(255, 255, 255, 0.25);
    --send-message-color: rgb(255, 255, 255, 0.25);
    --send-message-hover-color: rgb(255, 255, 255, 0.50);
    --scrollbar-track-color: var(--body-color);
    --scrollbar-thumb-color: var(--font-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--body-background-color);
}

.form-container, .form, form-content, .inputBox, .inputBox input, .inputBox label, .inputBox warning-label, .inputBox i
{
    box-sizing: border-box;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--form-container-background-color);
    z-index: var(--z-index-form-container);
}

.form {
    position: relative;
    height: var(--form-height);
    width: var(--form-width);
    background: var(--form-bachground-color);
    border-radius: 8px;
    overflow: hidden;
    z-index: var(--z-index-form);
}

    .form::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        box-shadow: inset 0 0 20vmin var(--color-pallet-2);
        padding: 5px;
        height: calc(var(--form-height) - 10px );
        width: calc(var(--form-width) - 10px);
/*        background: repeating-radial-gradient( transparent, transparent 4.5%, var(--form-color) 5%, transparent 5.5% ), linear-gradient( transparent 49.7%, var(--radar-color-1) 49.9%, var(--radar-color-1) 50.1%, transparent 50.3% ), linear-gradient( to right, transparent 49.7%, var(--radar-color-1) 49.9%, var(--radar-color-1) 50.1%, transparent 50.3% );*/
        background: repeating-radial-gradient(circle at center, transparent, transparent 4.5%, var(--form-color) 5%, transparent 5.5% ) content-box, linear-gradient( transparent 49.7%, var(--radar-color-1) 49.9%, var(--radar-color-1) 50.1%, transparent 50.3% ) content-box, linear-gradient( to right, transparent 49.7%, var(--radar-color-1) 49.9%, var(--radar-color-1) 50.1%, transparent 50.3% ) content-box, radial-gradient(var(--radar-color-2), transparent) content-box, linear-gradient(to bottom right, #000, #000) border-box;
    }

    .form::after {
        content: "";
        position: absolute;
        top: -75px;
        left: -75px;
        height: calc(var(--form-height) + 150px);
        width: calc(var(--form-width) + 150px);
        background: conic-gradient(transparent 80%, var(--form-color));
        transform-origin: center;
        animation: animateBorder 6s linear infinite;
        animation-delay: 0s;
    }

@keyframes animateBorder {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-content {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--form-bachground-color);
    box-shadow: inset 0 0 2vmin var(--form-container-background-color);
    z-index: var(--z-index-form-content);
}

    .form-content h2 {
        color: var(--form-font-color-1);
        font-weight: 500;
        align-items: center;
        letter-spacing: 0.1em;
    }

.inputBox {
    position: relative;
    width: var(--form-input-width);
    margin-top: var(--form-input-margin-top);
}

    .inputBox #password {
        padding-right: 35px;
    }

    .inputBox input {
        position: relative;
        width: 100%;
        padding: 20px 10px 10px;
        background: transparent;
        border: none;
        outline: none;
        color: var(--form-font-color-3);
        font-size: 1em;
        letter-spacing: 0.05em;
        z-index: var(--z-index-form-input);
    }

        .inputBox input::-ms-reveal {
            display: none;
        }

    .inputBox eyeBtn {
        height: 0;
        width: 10px;
        position: absolute;
        top: 53px;
        right: 8px;
        z-index: var(--z-index-form-input-eye-btn);
        transition: 0.2s;
        /*transition: height 0.5s, width 0.5s;*/
        /*background-color: currentColor;*/
        /*background-color: #23242a;*/
        cursor: pointer;
        border: none;
        outline: none;
    }
    /*.inputBox eyeBtn:is(:hover, :active) {
            transform: scale(0.5);
            background-color: white;
        }*/

    .inputBox label {
        position: absolute;
        left: 0;
        padding: 20px 0px 10px;
        font-size: 1em;
        color: var(--form-font-color-2);
        pointer-events: none;
        letter-spacing: 0.05em;
        transition: 0.3s;
    }

    .inputBox warninglabel {
        position: absolute;
        right: 0;
        padding: 20px 0px 10px;
        font-size: 1em;
        color: var(--form-invalid-hover-color);
        pointer-events: none;
        letter-spacing: 0.05em;
        transition: 0.3s;
    }

    .inputBox i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: var(--form-color);
        border-radius: 4px;
        transition: 0.5s;
        pointer-events: none;
        z-index: var(--z-index-form-input-hover);
    }

    /*    .inputBox input:valid ~ label,*/
    .inputBox input:not(:placeholder-shown) ~ label,
    .inputBox input:focus ~ label {
        color: var(--form-font-color-1);
        transform: translateX(0px) translateY(-34px);
        font-size: 0.75em;
    }

    /*    .inputBox input:valid ~ warningLabel,*/
    .inputBox input:not(:placeholder-shown) ~ warningLabel,
    .inputBox input:focus ~ warningLabel {
        /* color: var(--form-font-color-1); */
        transform: translateX(0px) translateY(-34px);
        font-size: 0.75em;
    }

    /*    .inputBox input:valid ~ eyeBtn,*/
    .inputBox input:not(:placeholder-shown) ~ eyeBtn {
        height: 20px;
        width: 20px;
        /*background-color: var(--form-font-color-1);*/
        transform: translateX(0px) translateY(-31px);
    }


    .inputBox input:invalid:not(:placeholder-shown) ~ i {
        background: var(--form-invalid-hover-color);
    }

    .inputBox input:invalid:not(:placeholder-shown) {
        color: var(--form-invalid-hover-text-color);
    }

    /*    .inputBox input:valid ~ i,*/
    .inputBox input:focus ~ i,
    .inputBox input:not(:placeholder-shown) ~ i {
        height: 44px;
    }

.eye {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='var(--form-font-color-3)' class='bi bi-eye' viewBox='0 0 16 16'%3E%3Cpath d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z'/%3E%3Cpath d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'/%3E%3C/svg%3E");
}

.eye-fill {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='var(--form-font-color-3)' class='bi bi-eye-fill' viewBox='0 0 16 16'%3E%3Cpath d='M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z'/%3E%3Cpath d='M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z'/%3E%3C/svg%3E");
}

.eye-slash {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='var(--form-font-color-3)' class='bi bi-eye-slash' viewBox='0 0 16 16'%3E%3Cpath d='M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z'/%3E%3Cpath d='M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z'/%3E%3Cpath d='M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z'/%3E%3C/svg%3E");
}

.eye-slash-fill {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='var(--form-font-color-3)' class='bi bi-eye-slash-fill' viewBox='0 0 16 16'%3E%3Cpath d='m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z'/%3E%3Cpath d='M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z'/%3E%3C/svg%3E");
}

.links {
    display: flex;
    justify-content: space-between;
}

    .links a {
        margin: 10px 0;
        font-size: 0.75em;
        color: var(--form-font-color-2);
        text-decoration: none;
    }

        .links a:hover,
        .links a:nth-child(2) {
            color: var(--form-font-color-1);
        }

input[type="submit"] {
    border: 1px solid var(--form-font-color-1);
    outline: none;
    background: transparent;
    color: var(--form-font-color-1);
    /*padding: 11px 25px;*/
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}

    input[type="submit"]:hover {
        background: var(--form-font-color-1);
        color: var(--form-font-color-3);
    }

    input[type="submit"]:active {
        opacity: 0.8;
    }


.checkbox-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

input[type="checkbox"] {
    position: relative;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.custom-checkbox-container {
    display: block;
    position: relative;
    width: fit-content;
    height: 100%;
    cursor: pointer;
    font-size: 0.85em;
    text-align: center;
    display: flex;
    gap: 6px;
    margin: 10px 0;
    justify-content: center;
    text-align: center;
    color: var(--form-font-color-2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
}

    .custom-checkbox-container .custom-checkbox {
        border: 1px solid var(--form-font-color-1);
        outline: none;
        background: transparent;
        color: var(--form-font-color-1);
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        vertical-align: middle;
        height: 16px;
        width: 16px;
        cursor: pointer;
        transition: all .3s ease;
        align-items: center;
        justify-content: center;
    }

        .custom-checkbox-container .custom-checkbox:after {
            content: "\2714";
            position: absolute;
            text-align: center;
            /*transform: translateX(4px) translateY(-4px);*/
            border: 2px;
            display: none;
        }

input[type="checkbox"]:checked ~ .custom-checkbox-container .custom-checkbox:after {
    display: block;
}

input[type="checkbox"]:is(:hover) ~ .custom-checkbox-container {
    color: var(--form-font-color-1);
}

    input[type="checkbox"]:is(:hover) ~ .custom-checkbox-container .custom-checkbox {
        background: var(--form-font-color-1);
        color: var(--form-font-color-3);
    }
